.example-ripple-container {
  cursor: pointer;
  text-align: center;
  width: 60%;
  min-width: 300px;
  margin: 10vh auto;

}

p{
font-family: 'Times New Roman', Times, serif;
text-align: center;
margin : 100px 15%;
}
hr{
  margin: 0 10%;
}
