<div class="example-ripple-container mat-elevation-z4"
matRipple
[matRippleCentered]="centered"
[matRippleDisabled]="disabled"
[matRippleUnbounded]="unbounded"
[matRippleRadius]="radius"
[matRippleColor]="color">
<mat-icon (click)="goBack()" class="back">keyboard_arrow_left</mat-icon><br><br><br>
  <h1 >{{'errormessage.title' | translate}}</h1>
     <hr>
     <p *ngIf="errPage">{{'errormessage.errorpage'| translate}}</p>
     <p *ngIf="errNoCont">{{'errormessage.nocontent'| translate}}</p>
     <p *ngIf="errNoSearchRes">{{'errormessage.nosearchres'| translate}}</p>
     <p *ngIf="errDefault">{{'errormessage.default'| translate}}</p>
</div>
