.example-ripple-container {
  cursor: pointer;
  text-align: center;
  width: 60%;
  padding :20px;
  margin: 10vh auto;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

p{
font-family: 'Times New Roman', Times, serif;
margin : 100px auto;
max-width: 500px;
}
.back{
  text-align: center;
  width: 30px;
  float: left;
}
.back mat-icon{
  margin: 0 auto;
}
