.flag {
  width: 16px;
  //height: 20px;
  //border: 1px solid black;
  border-radius: 50%;
  box-sizing: border-box;
  //opacity: 0.5;
}

.languageSelector{
  width: 80px;
  margin: 1px;
}

mat-form-field{
  position: relative;
  float: right;
  width: 100%;
}

.mat-form-field-appearance-outline{
  border: 0;
}