.flag {
    width: 16px;
    //height: 20px;
    //border: 1px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    //opacity: 0.5;
  }

  .languageSelector{
    width: auto;
    margin: 1%;
  }

  mat-form-field{
    position: relative;
    float: right;
    width: 40%;
  }