<br>
<br>
<br>
<div class="container">
<mat-card class="movie-card">
  <mat-card-header>
    <div mat-card-avatar class="movie-poster" [style.background-image]="'url(' + moviePosterUrl + ')'"></div>
  </mat-card-header>
  <mat-card-content>
    <div class="movie-details">
      <div class="movie-title">{{ movie.title }}</div>
      <div class="movie-year">Release Year: {{ movie.year }}</div>
    </div>
    <div class="movie-plot">{{ movie.plot }}</div>
  </mat-card-content>
  <mat-card-actions>
    <div class="button">
      <button mat-stroked-button color="primary" routerLink="/updateMovie/{{movie.imdbid}}">Update</button>
  </div>
  </mat-card-actions>
</mat-card>
</div>
