
  <mat-dialog-content *ngIf="movie"  class="movie-card">
    <div class="movie-details">
      <div class="movie-poster" [style.background-image]="'url(' + moviePosterUrl + ')'"></div>
      <div class="movie-info">
        <div class="movie-title">{{ movie.title }}</div>
        <div class="movie-year">{{ 'movie.released' | translate }}: {{ movie.year }}</div>
        <mat-chip-listbox aria-label="Genre selection" [value]="currentChipsValue">
          <mat-chip disable color="accent" *ngFor="let genre of movie.genre;">
            {{ genre.genre }}
          </mat-chip>
          
                 </mat-chip-listbox>
        <div class="movie-plot">{{ movie.plot }}</div>
        <div class="movie-actors">
          
            <mat-icon>person_outline</mat-icon> <p *ngFor="let actor of movie.actors" ><a [href]="'https://en.wikipedia.org/wiki/' + actor.first_name + '_' + actor.last_name" target="_blank">{{ actor.first_name }} {{ actor.last_name }}</a>, &nbsp;</p>
          
        </div>
              </div>
    </div>
  
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close><mat-icon>clear</mat-icon>
      {{ 'button.close' | translate }}</button>
    <button mat-flat-button mat-dialog-close *ngIf="utilityService.role!= null && utilityService.role != 'public'" routerLink="/updateMovie/{{movie.imdbid}}" cdkFocusInitial><mat-icon>update</mat-icon>{{ 'button.update' | translate }}</button>
  </mat-dialog-actions>
</mat-dialog-content>
