<div class="footer" >
  <mat-toolbar class="footerToolBar" color="primary">
    <table>
      <tr >
      <td>
        <div class="cardContainer">
          <h1>{{'footer.social' | translate}}</h1>
          <mat-list>
            <mat-list-item (click)="goTop()"><img class="socialLogo" src="../assets/img/facebook.png"/><mat-label class="pullUp">Facebook</mat-label></mat-list-item>
            <mat-list-item (click)="goTop()"><img class="socialLogo" src="../assets/img/instagram.png"/><mat-label class="pullUp">Instagram</mat-label></mat-list-item>
            <mat-list-item (click)="goTop()"><img class="socialLogo" src="../assets/img/youtube.png"/><mat-label class="pullUp">YouTube</mat-label></mat-list-item>
            <mat-list-item (click)="goTop()"><img class="socialLogo" src="../assets/img/tiktok.png"/><mat-label class="pullUp">TikTok</mat-label></mat-list-item>
          </mat-list>
        </div>
      </td>
      <td>
        <div class="cardContainer hide">
          <h1 >{{'footer.about' | translate}}</h1>
          <mat-list>
            <mat-list-item (click)="goTop()"><mat-label>{{'footer.factory' | translate}}</mat-label></mat-list-item>
            <mat-list-item (click)="goTop()"><mat-label>{{'footer.team' | translate}}</mat-label></mat-list-item>
            <mat-list-item (click)="goTop()"><mat-label>{{'footer.values' | translate}}</mat-label></mat-list-item>
          </mat-list>
        </div>
      </td>
      <td>
        <div class="cardContainer hide">
          <h1>{{'footer.link' | translate}}</h1>
          <mat-list>
            <mat-list-item (click)="goTop()" routerLink="home"><mat-label>{{'footer.home' | translate}}</mat-label></mat-list-item>
            <mat-list-item (click)="goTop()" routerLink="userInfo"><mat-label>{{'footer.profile' | translate}}</mat-label></mat-list-item>
            <mat-list-item (click)="goTop()" routerLink="search"><mat-label>{{'footer.search' | translate}}</mat-label></mat-list-item>
            <mat-list-item (click)="logout()" routerLink="login"><mat-label>{{'footer.logout' | translate}}</mat-label></mat-list-item>
          </mat-list>
        </div>
      </td>
        <td>

          <div *ngIf="util.role != 'public' || util.role != null" class="cardContainer hide">
            <h1>{{'footer.tools' | translate}}</h1>
            <mat-list>
              <mat-list-item *ngIf="util.role == 'super_admin'" (click)="goTop()" routerLink="management"><mat-label>{{'footer.management' | translate}}</mat-label></mat-list-item>
              <mat-list-item (click)="goTop()" routerLink="insertMovie"><mat-label>{{'footer.add' | translate}}</mat-label></mat-list-item>
              <mat-list-item (click)="goTop()" routerLink="search"><mat-label>{{'footer.update' | translate}}</mat-label></mat-list-item>
            </mat-list>
          </div>
        </td>
  </tr>
  <tr>
    <p class="copyRight">© Copyright 2023 - Movie Catalog S.r.l. - P.IVA. 00000000000</p>
  </tr>
</table>

  </mat-toolbar>
</div>
