@import '/src/custom-theme.scss';
$bg : $movie-catalog-fe-theme;
.footer{
  bottom: 0;
  height: fit-content;
  width: 100%;
  background: map-get($bg,primary,700);
}
.footerToolBar{
  color: white;
  padding:20px 0 20px 0;
  width: 100%;
  min-height: fit-content;
  text-align: center;
  display: inline-flex;
}
h1{
  margin: 0;
  padding: 0;
}
share-buttons{
  display: inline-flex;
  margin: 0;
}
.copyRight{
  color: white;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  font-size: small;
}
.cardContainer{
  text-align: center;
  margin:  0 auto;
  padding: 5px 10px;
  height: fit-content;
}

mat-list-item{
  text-align: center;
  margin:0 auto;
  width: fit-content;
  height: fit-content;
}
.cardContainer mat-list-item:hover{
  font-weight: 900;
  background: rgba(0,0,0,0.2);
}
.cardContainer mat-list-item:hover  mat-label{
  transition: 0.2s;
  letter-spacing: 2px;
  color: white;
}

.socialLogo{
  display: inline;
  width: 30px;
 margin: 0 10px;
 border-radius: 50%;
 transition:  0.2s;
}
.socialLogo:hover{
  transform: translate(-2px, -2px);
  box-shadow: 0 0 10px white;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .hide{
    display: none;
  }
}

mat-icon{
  transform: translateY(20%);
}
.map{
  border-radius: 5px;
  width: 250px;
  height: 250px;
  margin-right: 10px;

}

.footerlogo{
  height: 60px;
  filter: invert(100%);
}
.footerlogo:hover{
  cursor: pointer;
}
