<div class="footer">
  <div class="footerToolBar" color="primary">
        <div style="min-width: fit-content;" class="divider">
          <div style="min-width: fit-content;" class="cardContainer">
          <h2 >{{'footer.about' | translate}}</h2>
          <mat-list>
            <mat-list-item (click)="scroll()" routerLink="contacts" ><mat-label>{{'footer.contacttext' | translate}}</mat-label></mat-list-item>
            <mat-list-item (click)="scroll()" routerLink="factory" ><mat-label>{{'footer.factory' | translate}}</mat-label></mat-list-item>
            <mat-list-item (click)="scroll()" routerLink="about_us" ><mat-label>{{'footer.team' | translate}}</mat-label></mat-list-item>
            <mat-list-item (click)="scroll()" routerLink="values" ><mat-label>{{'footer.values' | translate}}</mat-label></mat-list-item>
          </mat-list>
        </div>
      </div>
        <div  class="divider">
          <div  class="cardContainer">
          <h2>{{'footer.social' | translate}}</h2>


          <mat-list>
            <div class="socialBox fb" ><a href="https://www.facebook.com/moovieSsrl/" target="_blank"><img  class="socialLogo" src="../assets/img/facebook_icon.png"/></a></div>
            <div class="socialBox mail" ><a href="mailto:moovies@gmail.com" target="_blank"><img  class="socialLogo" src="../assets/img/email_icon.png"/></a></div>
            <div class="socialBox wa" ><a href="https://wa.me/393381212123" target="_blank"><img  class="socialLogo" src="../assets/img/whatsapp_icon.png"/></a></div>
            <div class="socialBox tw" ><a href="https://twitter.com/" target="_blank"><img  class="socialLogo" src="../assets/img/twitter_icon.png"/></a></div>
            <div class="socialBox in"><a href="https://www.linkedin.com/company/step-s.r.l./" target="_blank"><img  class="socialLogo" src="../assets/img/linkedin_icon.png"/></a></div>
            <!--<div class="socialBox"><img  class="socialLogo" src="../assets/img/sharethis_icon.png"/></div>-->
            <div class="searchmap"><div class="socialBox mapbg" ><a href="https://goo.gl/maps/AChRU7A3NH7TXjXi6" target="_blank">
            <img class="socialLogo searchmap" src="../assets/img/map_search_icon.png"/></a></div></div>
          </mat-list>

      <!--    <share-buttons style="margin-top:20px;" [theme]="'circles-dark'"
          [include]="['facebook']"
          [showIcon]="true"
          [showText]="false"
          title="https://www.facebook.com/mooviesSrl">
        </share-buttons>
        <mat-icon>facebook</mat-icon>
        <mat-icon>email</mat-icon>
        <span class="material-icons">whatsapp</span>
        <share-buttons style="margin-top:20px;" [theme]="'circles-dark'"
          [include]="['email']"
          [showIcon]="true"
          [showText]="false"
          title="moovies@gmail.com">
        </share-buttons>
        <share-buttons style="margin-top:20px;" [theme]="'circles-dark'"
          [include]="['linkedin']"
          [showIcon]="true"
          [showText]="false"
          title="https://www.linkedin.com/mooviesSrl">
        </share-buttons>
        <share-buttons style="margin-top:20px;" [theme]="'circles-dark'"
          [include]="['whatsapp']"
          [showIcon]="true"
          [showText]="false"
          title="3381212123">
        </share-buttons>
        <share-buttons style="margin-top:20px;" [theme]="'circles-dark'"
          [include]="['twitter']"
          [showIcon]="true"
          [showText]="false"
          title="https://www.twitter.com/mooviesSrl">
        </share-buttons>-->
        </div>
      </div>

        <div #map class="divider hide">
          <div class="cardContainer hide">
          <div class="maptitle" style="text-align: left;">
            <img class="footerlogo" title="{{'footer.home'|translate}}" (click)="goTop()" routerLink="home" src="../assets/icons/logo-icon.svg"/>
            <mat-label (click)="openMap()">{{'footer.openmap'|translate}}</mat-label>
          </div>
          <iframe  class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3017.67078515562!2d14.275250676397516!3d40.85715127137218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133b0804d660a4e1%3A0xe79085f124acad3b!2sSTEP%20SRL!5e0!3m2!1sit!2sit!4v1689779166307!5m2!1sit!2sit" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    <!--   <td>
        <div class="cardContainer">
          <h1>{{'footer.link' | translate}}</h1>
          <mat-list>
            <mat-list-item (click)="goTop()" routerLink="home"><mat-label>{{'footer.home' | translate}}</mat-label></mat-list-item>
            <mat-list-item (click)="goTop()" routerLink="userInfo"><mat-label>{{'footer.profile' | translate}}</mat-label></mat-list-item>
            <mat-list-item (click)="goTop()" routerLink="search"><mat-label>{{'footer.search' | translate}}</mat-label></mat-list-item>
            <mat-list-item (click)="logout()" routerLink="login"><mat-label>{{'footer.logout' | translate}}</mat-label></mat-list-item>
          </mat-list>
        </div>
      </td>
       <td>

          <div *ngIf="util.role != 'public' || util.role != null" class="cardContainer hide">
            <h1>{{'footer.tools' | translate}}</h1>
            <mat-list>
              <mat-list-item *ngIf="util.role == 'super_admin'" (click)="goTop()" routerLink="management"><mat-label>{{'footer.management' | translate}}</mat-label></mat-list-item>
              <mat-list-item (click)="goTop()" routerLink="insertMovie"><mat-label>{{'footer.add' | translate}}</mat-label></mat-list-item>
              <mat-list-item (click)="goTop()" routerLink="search"><mat-label>{{'footer.update' | translate}}</mat-label></mat-list-item>
            </mat-list>
          </div>
        </td> -->
        <br>

      </div>
      <div class="copyRight">© Copyright 2023 - Moovies S.r.l. - P.IVA. 00000000000</div>
</div>
