<mat-toolbar color="primary" style="min-width: 300px;">
  <button (click)="drawerEventFire()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon  >menu</mat-icon>
  </button>
  <span class="home homeLinkOn" routerLink="home">MOVIE CATALOGUE</span>
  <span class="home homeLinkOff" routerLink="home"><mat-icon>home</mat-icon></span>
  <span class="example-spacer"></span>
<section #search class="hide" >
  <mat-form-field  class="search" appearance="fill" >
    <mat-label>Search </mat-label>
    <input  matInput [formControl]="myControl" [matAutocomplete]="auto"  [(ngModel)]="searchTerm" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option (click)="searchFilm(searchTerm)" *ngFor="let option of filteredOptions|async " [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
    <button class="btn" matPrefix routerLink="search" (click)="searchFilm(searchTerm)">
      <mat-icon  matPrefix style="color: black;">search</mat-icon>
    </button>

  </mat-form-field>

</section>

<button (click)="toggle(search)" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
  <mat-icon >{{searchIcon}}</mat-icon>
</button>
<mat-label *ngIf="util.username != null || util.username != undefined" class="welcome">Benvenuto {{util.username}}!</mat-label>

<div   class="panel">
  <button (click)="isOpen = !isOpen;"  mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>account_circle</mat-icon>

  </button>
  <mat-label (mouseleave)="isOpen = false;" class="profilelabel"  [@openClose]="isOpen? 'open' : 'closed'" >
    <div class="proElement" routerLink="userInfo" style="border-radius: 4px 4px 0 0;">PROFILE<mat-icon class="proIcon">person</mat-icon>
    </div>
    <div class="proElement" style="border-radius: 0 0 4px 4px;" (click)="logOut()" routerLink="login"><mat-label>LOG OUT</mat-label><mat-icon class="proIcon">exit_to_app</mat-icon></div>
  </mat-label>
</div>

</mat-toolbar>
