.example-spacer {
  flex: 1 1 auto;
}
.search{
  margin: 20px 20px 0 5px;
  min-width: 150px;
  width: 32vw;
}
.hide{
  display: none;
}
.btn{
  border:none;
  background: none;
  border-radius: 50%;
  transition: 0.3s;
}
.btn:hover{
  transform:translate(-1px, -1px);
}
.home{
  margin-left: 10px;
  transition: 0.4s;
  font-size: x-large;
  }
.home:hover{
  text-shadow: 0 0 5px white;
  transform: scale(101%);
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .welcome {
      display: none ;
  }
}

