.example-spacer {
  flex: 1 1 auto;
}
.search{
  z-index: 2;
  position: absolute;
  /*transform: translate(-100%, -36%);*/
  margin : 0 50%;
  transform: translate(-50% ,-80%);
  width: 32vw;
}
.hide{
  display: none;
}
.btn{
  border:none;
  background: none;
  border-radius: 50%;
  transition: 0.3s;
}
.btn:hover{
  transform:translate(-1px, -1px);
}
.home{
  transition: 0.4s;
  font-size: x-large;
  }
.home:hover{
  text-shadow: 0 0 5px white;
  transform: scale(101%);
  cursor: pointer;
}
@media screen and (max-width: 620px) {
  .welcome {
      display: none ;
  }
}

