<mat-grid-list cols="1" style="text-align: center;">

<!-- Chips -->
<div class="chips">
<mat-chip-listbox aria-label="Fish selection" value={{currentChipsValue}}>
    <mat-chip-option routerLink="/home/page/1" value="-1"> {{ 'menu.all' | translate }} </mat-chip-option>
    <mat-chip-option (click)="goToCategory(chips)" *ngFor="let chips of chipsCategory; index as i" value={{chips}} > {{chips}}</mat-chip-option>
</mat-chip-listbox>
</div>

</mat-grid-list>

<app-slider [category] = "category" [title] = "'For You'" [type] = "'all'"></app-slider>

<div *ngFor="let cat of categories">
    <app-slider [category] = "cat" [title] = "cat" [type] = "'category'"></app-slider>
</div>