.loader {
    margin: 100px auto;
  }
  
  .mat-button{
    width: 15;
    margin: 27.5% auto;
  }

  .pageButton{
    text-align: center;
  }
  
  .chips{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 3%;
  }

  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
    height: 100%;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
    background-color: whitesmoke;
  }

  .custom-paginator {
    background-color: whitesmoke;
    color: #2d2d2d;
  }

  .small-plot {
    overflow:hidden;
    display:-webkit-box;
    -webkit-line-clamp:4;
    -webkit-box-orient:vertical;
  }


  .table{
    margin-top: 0;
  }

  .upperRow{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15%;
  }

  @media (max-width: 1100px){
    .upperRow{
      margin-right: 5%;
    }
  }