<div class="change_password-container">
    <mat-card *ngIf="passwordResetForm">
        <mat-card-header>
            <mat-card-title><strong> Register! </strong></mat-card-title>
          </mat-card-header>
      <mat-card-content>
        <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column; align-items: center;">

            <!-- Password input -->
            <mat-form-field>
                <input matInput formControlName="password" placeholder="Password" [type]="hidePass ? 'password' : 'text'" required>
                    <button type="button" mat-icon-button matSuffix class="mat-icon-button" (click)="hidePass = !hidePass">
                        <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
            </mat-form-field>
            <mat-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                Must insert a valid password.
            </mat-error>

            <!-- ConfirmPassword input -->
            <mat-form-field>
                <input matInput formControlName="confirmPassword" placeholder="Confirm Password" [type]="hideCPass ? 'password' : 'text'" required>
                    <button type="button" mat-icon-button matSuffix class="mat-icon-button" (click)="hideCPass = !hideCPass">
                        <mat-icon>{{hideCPass ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
            </mat-form-field>
            <mat-error *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">
                Must insert a valid password.
            </mat-error>

            <!-- Button -->
            <button mat-raised-button color="primary" type="submit" [disabled]="passwordResetForm.invalid" style="width: 100%; margin-bottom: 5%; font-size: large;">Change Password</button>

            <!-- Password Errors -->
            <mat-error *ngIf="password?.value !== confirmPassword?.value && password?.touched && confirmPassword?.touched && password?.dirty && confirmPassword?.dirty">
                The passwords do not match.
            </mat-error>
        </form>
    </mat-card-content>
  </mat-card>
</div>