.change_password-container {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  mat-card {
    width: 15%;
    min-width: 300px;
  }
  mat-form-field {
    width: 100%;
  }

  @media (min-width: 600px) {
    mat-card {
      width: 400px;
    }
  }

  mat-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  mat-card-title {
    text-align: center;
    font-size: 40px;
    padding-bottom: 10%;
    width: 100%;
  }
