<button (click)="drawerEventFire()" mat-raised-button color="primary" routerLink="home" class="demo-button">
  HOME
</button><br>
<button (click)="drawerEventFire()" mat-raised-button color="primary" routerLink="home" class="demo-button">
  CATEGORIE
</button><br>
<button (click)="drawerEventFire()" mat-raised-button color="primary" routerLink="userInfo" class="demo-button">
  PROFILO
</button><br>
<button (click)="logOut()" mat-raised-button color="primary" routerLink="login" class="demo-button">
  LOG OUT
</button><br>
<button (click)="drawerEventFire()" mat-raised-button color="primary" routerLink="home" class="demo-button">
  AGGIUNGI FILM
</button><br>
<button (click)="drawerEventFire()" mat-raised-button color="primary" routerLink="home" class="demo-button">
  MANAGEMENT
</button><br>
