button{
  width: 100%;
  margin: 15px 0;
  font-size: x-large;
  padding: 25px 10px;
}

.category:hover{
cursor: pointer;
}

.space{
  line-height: 50%;
}

.mat-expansion-panel{
  background-color: 'primary';
}
