@import '/src/custom-theme.scss';
$bg : $movie-catalog-fe-theme;
button{
  width: 100%;
  margin: 15px 0;
  font-size: x-large;
  padding: 25px 10px;
}
.panel{
  text-align: left;
  padding: 12px 5px 12px 24px;
  box-shadow: none;
  transition: 0.3s;
  display: flex;
  width: fit-content;
}
.panelLabel{
  display: grid;
  transition: 0.3s;
  font-weight: 500;
}
.panelLabel:hover{
  box-shadow: 0 0 5px rgba(0,0,0,0.2)  , inset 0 0 8px rgba(0,0,0,0.2);
  animation: movelabel 0.5s;
  animation-delay: 0.3s;
}
@keyframes movelabel{
  0%  {transform:rotateZ(0deg)}
  25%  {transform:rotateZ(-40deg)}
  50%  {transform:rotateZ(15deg)}
  75%  {transform:rotateZ(-5deg)}
  95%  {transform:rotateZ(2deg)}
  100%  {}
}
mat-icon{
margin-right: 10px;
border: solid 1px map-get($bg,primary,700);
padding: 7px;
border-radius: 50%;
transition: 0.2s;
background: white;
box-shadow: 2px 2px rgba(0,0,0,0.2) , inset 0 0 2px map-get($bg,primary,700);
cursor: pointer;
}
mat-icon:hover{
  box-shadow: 6px 6px  rgba(0, 0, 0, 0.5)  , inset 0 0 5px map-get($bg,primary,900);
  animation: move 0.5s ;
  animation-delay: 0.1s;
}
@keyframes move{
  5%   {transform: skewX(1deg) }
  25%  { transform: skewX(-2deg) }
  50%  { transform: skewX(3deg) }

}

.category:hover{
cursor: pointer;
}

.space{
  line-height: 50%;
}

.mat-expansion-panel{
  background-color: 'primary';
}


mat-label{
  cursor: pointer;
  border: solid 1px rgba(0,0,0,0.2);
  padding: 10px 20px;
  border-radius: 5px;
  background: white;
}
