.card-poster{
    aspect-ratio: 4.5 / 7;
}


.mat-mdc-card{
    aspect-ratio: 4.5 / 7;
    background: var(--primary-color);
    width: 100%;
    height: auto;
    display: flex;
    
}

.content{
    margin-top: 10%;
}

.vote{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
}

.card-header{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}

.card-text {
  overflow:hidden;
  display:-webkit-box;
  -webkit-line-clamp:4;
  -webkit-box-orient:vertical;
  transition: all 3.5s ease-out;
  color: whitesmoke;
}

.card-title {
  overflow:hidden;
  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  color: var(--accent-color);
  font-family: 'Lato', sans-serif;
  font-size: larger;
}





