.demo-table {
  text-align: center;
  margin : 10px auto;
  width: 90%;
  padding :25px 2%;
}

.demo-button-container {
  margin-top: 20px;
  padding-bottom: 16px;
}

.demo-button  {
  margin: 15px;
  font-size: large;
  min-width: fit-content;
  width: 20%;
  font-size: x-large;
  padding: 25px 10px;
}
.error{
  min-width: fit-content;
  color: red;
  position: relative;
  margin-top: 5px;
  font-size: 12px;
}
td label{
  text-align: left;
}
mat-error{
  font-size: small;
}

mat-form-field{
  width: 50%;
  min-width: 150px;

}
label{
  float: inline-start;
  text-align: left;
  letter-spacing: 2px;
}
