<form [formGroup]="updateForm"  >
  <mat-card class="updateCard">
        <mat-icon (click)="goBack()" class="back">keyboard_arrow_left</mat-icon>
      <h1>{{ 'menu.updateMovie' | translate }}</h1>
    <mat-stepper [orientation]="isHorizontal?'horizontal':'vertical'" [linear]="false" #stepper>
      <mat-step [stepControl]="updateForm">
        <form [formGroup]="updateForm">

          <ng-template #generality matStepLabel><p *ngIf="genOK" >{{ 'menu.movieGeneralities' | translate }}</p><p *ngIf="!genOK" class="error">{{ 'menu.movieGeneralities' | translate }}</p></ng-template>

          <mat-form-field title="{{'tooltip.obligatory' | translate }}" appearance="fill">
            <mat-label for="title">{{ 'movie.title' | translate }}</mat-label>
              <input  matInput #actors  id="title" name="title" type="text" placeholder="{{ 'movie.title' | translate }}" formControlName="title">
              <mat-error>{{ 'message.error.isRequired' | translate:  {'obj' : ('movie.title' | translate)}  }}</mat-error>
            </mat-form-field>

            <mat-form-field title="{{'tooltip.obligatory' | translate }}" appearance="fill">
              <mat-label for="year">{{ 'movie.year' | translate }}</mat-label>
              <input  matInput #year id="year" name="year" type="text" placeholder="{{ 'movie.year' | translate }}" formControlName="year">
              <mat-error>{{ 'message.error.isRequired' | translate:  {'obj' : ('movie.year' | translate)}  }}</mat-error>
            </mat-form-field>

            <mat-form-field title="{{'tooltip.obligatory' | translate }}" appearance="fill">
              <mat-label for="genre">{{ 'movie.genre' | translate }}</mat-label>


              <mat-chip-grid #chipGridGenre aria-label="Fruit selection">
                <mat-chip-row *ngFor="let genre of movie?.genre" (removed)="removeGenre(genre)">
                  {{genre.genre}}
                  <button matChipRemove [attr.aria-label]="'remove ' + genre">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </mat-chip-grid>


              <input [matChipInputFor]="chipGridGenre"
              matInput #genre id="genre" name="genre" type="text" placeholder="{{ 'movie.genre' | translate }}" formControlName="genre">
              <app-multi-select-button (launchString)="setMultiSelectInput($event, 'genre')" [path]="'genre'" [movie]="movie"  matSuffix></app-multi-select-button>
              <mat-error *ngIf="chipGridGenre.errorState">{{ 'message.error.isRequired' | translate:  {'obj' : ('movie.genre' | translate)}  }}</mat-error>
            </mat-form-field>

            <mat-form-field title="{{'tooltip.obligatory' | translate }}" appearance="fill">
            <mat-label for="plot">{{ 'movie.plot' | translate }}</mat-label>
              <textarea matInput #plot id="plot" name="plot" placeholder="{{ 'movie.plot' | translate }}" formControlName="plot"></textarea>
              <mat-error>{{ 'message.error.isRequired' | translate:  {'obj' : ('movie.plot' | translate)}  }}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label for="type">{{ 'movie.type' | translate }}</mat-label>

            <mat-select  #type id="type" name="type" type="text" placeholder="{{ 'movie.type' | translate }}" formControlName="type">
              <mat-option  value="1">Film</mat-option>
              <mat-option  value="2">Series</mat-option>
              <mat-option  value="3">Game</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label for="totalseasons" >{{ 'movie.totalSeasons' | translate }}</mat-label>
            <input  matInput #totalseasons id="totalseasons" name="totalseasons" type="number" min="0" value="0" formControlName="totalseasons">
          </mat-form-field>


          <mat-form-field appearance="fill">
            <mat-label for="released">{{ 'movie.released' | translate }}</mat-label>
            <input  matInput [matDatepicker]="datepickerRelased" #released id="released" name="released" formControlName="released">
            <mat-datepicker-toggle matIconSuffix [for]="datepickerRelased"></mat-datepicker-toggle>
                        <mat-datepicker #datepickerRelased>
                          <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>{{ 'button.cancel' | translate }}</button>
                            <button mat-raised-button color="primary" matDatepickerApply>{{ 'button.apply' | translate }}</button>
                          </mat-datepicker-actions>
                        </mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label for="runtime">{{ 'movie.runtime' | translate }}</mat-label>
            <input  matInput #runtime id="runtime" name="runtime" type="text" placeholder="{{ 'movie.runtime' | translate }}" formControlName="runtime">
          </mat-form-field>

          <div>
            <button mat-button matStepperNext>{{ 'button.next' | translate }}</button>
          </div>
        </form>
      </mat-step>









      <mat-step [stepControl]="updateForm" >
        <ng-template #production matStepLabel><p *ngIf="proOK" >{{ 'menu.productionInfo' | translate }}</p><p *ngIf="!proOK" class="error">{{ 'menu.productionInfo' | translate }}</p></ng-template>
        <form [formGroup]="updateForm">

          <mat-form-field appearance="fill">
            <mat-label for="production">{{ 'movie.production' | translate }}</mat-label>

            <mat-chip-grid #chipGridProduction aria-label="Production selection">
              <mat-chip-row *ngFor="let production of movie?.production" (removed)="removeProduction(production)">
                {{production.name}}
                <button matChipRemove [attr.aria-label]="'remove ' + production">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            </mat-chip-grid>


            <input [matChipInputFor]="chipGridProduction"  matInput #production id="production" name="production" type="text" placeholder="{{ 'movie.production' | translate }}" formControlName="production">
            <app-multi-select-button (launchString)="setMultiSelectInput($event, 'production')" [path]="'production'" [movie]="movie"  matSuffix></app-multi-select-button>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label for="actors">{{ 'movie.actors' | translate }}</mat-label>
            <mat-chip-grid #chipGridActors aria-label="Actors selection">
              <mat-chip-row *ngFor="let actor of movie?.actors" (removed)="removeActor(actor)">
                {{actor.first_name}} {{actor.last_name}}
                <button matChipRemove [attr.aria-label]="'remove ' + actor">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            </mat-chip-grid>
            <input [matChipInputFor]="chipGridActors" matInput #actors  id="actors" name="actors" type="text" placeholder="{{ 'movie.actors' | translate }}" formControlName="actors">
            <app-multi-select-button (launchString)="setMultiSelectInput($event, 'actors')" [path]="'actors'" [movie]="movie" matSuffix></app-multi-select-button>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label for="writer">{{ 'movie.writer' | translate }}</mat-label>
            <mat-chip-grid #chipGridWriter aria-label="Writer selection">
              <mat-chip-row *ngFor="let writer of movie?.writer" (removed)="removeWriter(writer)">
                {{writer.first_name}} {{writer.last_name}}
                <button matChipRemove [attr.aria-label]="'remove ' + writer">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            </mat-chip-grid>
            <input [matChipInputFor]="chipGridWriter"  matInput #writer id="writer" name="writer" type="text" placeholder="{{ 'movie.writer' | translate }}" formControlName="writer">
            <app-multi-select-button (launchString)="setMultiSelectInput($event, 'writer')" [path]="'writer'" [movie]="movie" matSuffix></app-multi-select-button>
          </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label for="language">{{ 'movie.language' | translate }}</mat-label>
              <mat-chip-grid #chipGridlanguage aria-label="Languages selection">
                <mat-chip-row *ngFor="let language of movie?.language" (removed)="removeLanguage(language)">
                  {{language.language}}
                  <button matChipRemove [attr.aria-label]="'remove ' + language">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </mat-chip-grid>
              <input [matChipInputFor]="chipGridlanguage"  matInput #language id="language" name="language" type="text" placeholder="{{ 'movie.language' | translate }}" formControlName="language">
              <app-multi-select-button (launchString)="setMultiSelectInput($event, 'language')" [path]="'language'" [movie]="movie" matSuffix></app-multi-select-button>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label for="director">{{ 'movie.director' | translate }}</mat-label>
                <mat-chip-grid #chipGridDirector aria-label="Director selection">
                  <mat-chip-row *ngFor="let director of movie?.director" (removed)="removeDirector(director)">
                    {{director.first_name}} {{director.last_name}}
                    <button matChipRemove [attr.aria-label]="'remove ' + director">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                </mat-chip-grid>
                <input [matChipInputFor]="chipGridDirector"   matInput #director  id="director" name="director" type="text" placeholder="{{ 'movie.direcotr' | translate }}" formControlName="director">
                <app-multi-select-button (launchString)="setMultiSelectInput($event, 'director')" [path]="'director'" [movie]="movie" matSuffix></app-multi-select-button>
              </mat-form-field>

          <mat-form-field title="{{'tooltip.obligatory' | translate }}" appearance="fill">
            <mat-label for="poster">{{ 'movie.poster' | translate }}</mat-label>
            <input matInput #poster id="poster" name="poster" type="text"placeholder="{{ 'movie.poster' | translate }}" formControlName="poster">
            <mat-error>{{ 'message.error.isRequired' | translate:  {'obj' : ('movie.poster' | translate)}  }}</mat-error>
          </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label for="country">{{ 'movie.country' | translate }}</mat-label>
                <mat-chip-grid #chipGridCountry aria-label="Country selection">
                  <mat-chip-row *ngFor="let country of movie?.country" (removed)="removeCountry(country)">
                    {{country.countries}}
                    <button matChipRemove [attr.aria-label]="'remove ' + country">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                </mat-chip-grid>
                <input [matChipInputFor]="chipGridCountry"  matInput #country id="country" name="country" type="text" placeholder="{{ 'movie.country' | translate }}" formControlName="country">
              </mat-form-field>

            <!--   <mat-form-field appearance="fill">
                <mat-label for="dvd">DVD</mat-label>
                <input title="Campo Obbligatorio" matInput #dvd id="dvd" name="dvd" type="text" placeholder="DVD" formControlName="dvd">
                <mat-error>Inserire DVD!</mat-error>
              </mat-form-field>
            -->
              <mat-form-field appearance="fill">
                <mat-label for="dvd">{{ 'movie.dvd' | translate }}</mat-label>
                <input  matInput [matDatepicker]="datepickerDvd" #dvd id="dvd" name="released" formControlName="dvd">
                <mat-datepicker-toggle matIconSuffix [for]="datepickerDvd"></mat-datepicker-toggle>
                            <mat-datepicker #datepickerDvd>
                              <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>{{ 'menu.cancel' | translate }}</button>
                                <button mat-raised-button color="primary" matDatepickerApply>{{ 'menu.apply' | translate }}</button>
                              </mat-datepicker-actions>
                            </mat-datepicker>
              </mat-form-field>


          <div>
            <button mat-button matStepperPrevious>{{ 'button.back' | translate }}</button>
            <button mat-button matStepperNext>{{ 'button.next' | translate }}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="updateForm" >
         <ng-template  matStepLabel><p *ngIf="othOK" >{{ 'menu.otherInfo' | translate }}</p><p *ngIf="!othOK" class="error">{{ 'menu.otherInfo' | translate }}</p></ng-template>
        <form [formGroup]="updateForm">

          <mat-form-field appearance="fill">
            <mat-label for="website">{{ 'movie.website' | translate }}</mat-label>
            <input  matInput #website id="website" name="website" type="text" placeholder="{{ 'movie.website' | translate }}" formControlName="website">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label for="awards">{{ 'movie.awards' | translate }}</mat-label>
              <input  matInput #awards id="awards" name="awards" type="text" placeholder="{{ 'movie.awards' | translate }}" formControlName="awards">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label for="imdbrating">{{ 'movie.rating' | translate }}</mat-label>
            <input  matInput #imdbrating id="imdbrating" name="imdbrating" type="number" min="0" max="10" value="0" formControlName="imdbrating">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label for="boxoffice">{{ 'movie.boxoffice' | translate }}</mat-label>
            <input  matInput type="number" value="0" min="0" #boxoffice id="boxoffice" name="boxoffice"  placeholder="{{ 'movie.boxoffice' | translate }}" formControlName="boxoffice">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label for="imdbvotes">{{ 'movie.imdbVotes' | translate }}</mat-label>
            <input  matInput #imdbvotes id="imdbvotes" name="imdbvotes" type="text" placeholder="{{ 'movie.imdbVotes' | translate }}" formControlName="imdbvotes">
          </mat-form-field>


          <mat-form-field appearance="fill">
            <mat-label for="rated">{{ 'movie.rated' | translate }}</mat-label>
            <input  matInput #rated id="rated" name="rated" type="text" placeholder="{{ 'movie.rated' | translate }}" formControlName="rated">
          </mat-form-field>

          <br>

        <div class="button-container">
          <button  mat-raised-button color="primary" (click)="updateData()" class="demo-button">
            <mat-label *ngIf="!updateForm.valid">{{ 'menu.verify' | translate }}</mat-label>
            <mat-label *ngIf="updateForm.valid">{{ 'menu.updateData' | translate }}</mat-label>
          </button>
          <!-- <button (click)="exit()" type="button" mat-raised-button color="primary"  class="demo-button">
            CANCEL
          </button> -->
        </div>


        <div>
          <button mat-button matStepperPrevious>{{ 'button.back' | translate }}</button>
          <button mat-button (click)="reset()">{{ 'button.reset' | translate }}</button>
        </div>
        </form>
      </mat-step>
    </mat-stepper>



  </mat-card>
  </form>
