.demo-table {
  text-align: center;
  margin : 10px auto;
  width: 90%;
  padding :25px 2%;
}

.demo-button-container {
  margin-top: 20px;
  padding-bottom: 16px;
}

.demo-button  {
  margin: 15px;
  font-size: large;
  min-width: fit-content;
  width: 20%;
  font-size: x-large;
  padding: 25px 10px;
}
.back{
  text-align: center;
  width: 30px;
  position: relative;
  float: left;
  padding-left: 20px;
}

td label{
  text-align: left;
}
mat-error{
  font-size: small;
}
mat-form-field{
  width: 30%;
  min-width: 170px;
  margin: 10px 5%;

}
label{
  float: inline-start;
  text-align: left;
  letter-spacing: 2px;
}

.error{
  color:red ;
}
