.demo-table {
  text-align: center;
  margin : 10px auto;
  width: 90%;
  padding :25px 2%;
}

.demo-button-container {
  margin-top: 20px;
  padding-bottom: 16px;
}

.demo-button  {
  margin:  0  15px;
  font-size: large;
}
.error{
  min-width: fit-content;
  color: red;
  position: relative;
  margin-top: 5px;
  font-size: 12px;
}
td label{
  text-align: left;
}


