@import '/src/custom-theme.scss';
$bg : $movie-catalog-fe-theme;
.aboutContainer{
  width: 100%;
  padding: 80px 0 150px 0;
}
h2{
  font-size: xx-large;
  margin-bottom: 50px;
}
.pellicola{
  position: absolute;
  border-radius: 0  50% 50% 0;
  width: 50%;
  transform:  translateY(-50%);
}

.factory{
  background: map-get($bg,primary,300);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textContainer{
  margin: 10%;
  max-width: 40%;
}
.imgContainer{
  width: 50%;
  min-width: 500px;
}
.imgContainer img{
  max-width: 100%;
  max-height: 500px;
}

.team{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.values{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: map-get($bg,primary,400);
}
.contacts{

}

.contactIcon{
    margin-right: 10px;
    transform: translateY(20%);
}

@media screen and (max-width: 1100px) {
  .aboutContainer{
    text-align: center;
  }
  .pellicola{
    width: 90%;
  }
  .factory{
    width: 100%;
    display: block;
  }
  .team{
    width: 100%;
    display: block;
  }
  .values{
    width: 100%;
    display: block;
  }
  .textContainer{
    max-width: 100%;
  }
  .imgContainer{
    margin: 0 auto;
    width: 90%;
    min-width: 90%;
  }
}
