<div id="waContact" class="contactDiv" title="{{'aboutus.contactus'|translate}}"><a href="https://wa.me/393381212123" target="_blank"><img  class="contact" src="../assets/img/whatsapp_icon.png"/></a></div>

<img class="pellicola" src="..\assets\img\pellicola.png"/>
<div id="factory" class="aboutContainer factory" >
  <div class="textContainer">
    <h2 class="slide">{{'aboutus.factory' | translate}}</h2>
    <p>{{'aboutus.factoryText'| translate }}</p>
    <div class="movieResult">
      <h1><mat-icon>group_add</mat-icon> {{nVisitors}}</h1>
      <mat-label>{{'aboutus.visitors'|translate}} !</mat-label>
    </div>
    <div class="movieResult">
      <h1><mat-icon>movie</mat-icon> {{nMovie}}</h1>
      <mat-label>{{'aboutus.movieResult'|translate}} !</mat-label>
    </div>
  </div>
  <div class="imgContainer hide">
    <img src="..\assets\img\cinema.png"/>
  </div>

</div>
<div id="about_us" class="aboutContainer team" >
  <div class="imgContainer hide">
    <img src="..\assets\img\team.png"/>
  </div>
  <div class="textContainer">
    <h2> {{'aboutus.team' | translate}}</h2>
    <p>{{'aboutus.teamText'| translate }}</p>
    <div class="movieResult">
      <h1><mat-icon>sentiment_satisfied_alt</mat-icon> {{nEmployees}}</h1>
      <mat-label>{{'aboutus.employees'|translate}} !</mat-label>
    </div>
    <div class="movieResult">
      <h1><mat-icon>thumb_up_alt</mat-icon> {{nSubscribers}}</h1>
      <mat-label>{{'aboutus.subscribers'|translate}} !</mat-label>
    </div>
  </div>
</div>

<div id="values" class="aboutContainer values" >
  <div class="textContainer">
    <h2>{{'aboutus.values' | translate}}</h2>
    <p>{{'aboutus.valuesText'| translate }}</p>
  </div>
  <div class="imgContainer">
    <img src="..\assets\img\values.png"/>
  </div>
</div>

<div id="contacts" class="aboutContainer contacts" >
  <div class="textContainer">
  <h2>{{'aboutus.contacts' | translate}}</h2>
    <mat-icon class="contactIcon">phone</mat-icon>080-5651234<br><br>
    <mat-icon class="contactIcon">smartphone</mat-icon>338-1212123<br><br>
    <mat-icon class="contactIcon">mail</mat-icon>moovies@gmail.com<br><br>
    <mat-icon class="contactIcon">room</mat-icon>Via Giovanni Porzio, 4 - NA<br>
  </div>
  <div class="imgContainer hide">
    <img src="..\assets\img\contatti.png"/>
  </div>
</div>


