<img class="pellicola" src="..\assets\img\pellicola.png"/>
<div id="factory" class="aboutContainer factory" >
  <div class="textContainer">
    <h2 class="slide">{{'aboutus.factory' | translate}}</h2>
    <p>{{'aboutus.factoryText'| translate }}</p>
  </div>
  <div class="imgContainer">
    <img src="..\assets\img\cinema.png"/>
  </div>
</div>
<div id="about_us" class="aboutContainer team" >
  <div class="textContainer">
    <h2> {{'aboutus.team' | translate}}</h2>
    <p>{{'aboutus.teamText'| translate }}</p>
  </div>
  <div class="imgContainer">
    <img src="..\assets\img\team.png"/>
  </div>
</div>

<div id="values" class="aboutContainer values" >
  <div class="textContainer">
    <h2>{{'aboutus.values' | translate}}</h2>
    <p>{{'aboutus.valuesText'| translate }}</p>
  </div>
  <div class="imgContainer">
    <img src="..\assets\img\values.png"/>
  </div>
</div>

<div id="contacts" class="aboutContainer contacts" >
  <div class="textContainer">
  <h2>{{'aboutus.contacts' | translate}}</h2>
    <mat-icon class="contactIcon">phone</mat-icon>080-5651234<br><br>
    <mat-icon class="contactIcon">smartphone</mat-icon>338-1212123<br><br>
    <mat-icon class="contactIcon">mail</mat-icon>moovies@gmail.com<br><br>
    <mat-icon class="contactIcon">room</mat-icon>Via Giovanni Porzio, 4 - NA<br>
  </div>
</div>


