<mat-grid-list class="pcview" cols="4" rowHeight="500px" >
    <mat-grid-tile class="img factory" [colspan]="3" [rowspan]="1">
        <mat-card class="imagecard">
            <mat-card-title>
                <h2>{{'aboutus.factory' | translate}}</h2>

            </mat-card-title>
            <mat-card-content>
                <p>{{'aboutus.factoryText'| translate }}</p>

            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="contacts" [colspan]="1" [rowspan]="3">
        <mat-card>
            <mat-card-title>
                <h2>{{'aboutus.contacts' | translate}}</h2>

            </mat-card-title>
            <mat-card-content>
            <mat-icon class="contactIcon">phone</mat-icon>080-5651234<br><br>
            <mat-icon class="contactIcon">mail</mat-icon>Moovies@gmail.com<br><br>
            <mat-icon class="contactIcon">room</mat-icon>Via Giovanni Porzio, 4, NA<br>

            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="img team" [colspan]="3" [rowspan]="1">
        <mat-card class="imagecard">
            <mat-card-title>
                <h2>{{'aboutus.team' | translate}}</h2>

            </mat-card-title>
            <mat-card-content>
                <p>{{'aboutus.teamText'| translate }}</p>

            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="img values" [colspan]="3" [rowspan]="1">
        <mat-card class="imagecard">
            <mat-card-title>
                <h2>{{'aboutus.values' | translate}}</h2>

            </mat-card-title>
            <mat-card-content>
                <p>{{'aboutus.valuesText'| translate }}</p>

            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>






<mat-grid-list class="mobileview" cols="1" rowHeight="300px" >
    <mat-grid-tile class="img factory" [colspan]="1" [rowspan]="1">
        <mat-card class="imagecard">
            <mat-card-title>
                <h2>{{'aboutus.factory' | translate}}</h2>

            </mat-card-title>
            <mat-card-content>
                <p>{{'aboutus.factoryText'| translate }}</p>

            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="img team" [colspan]="1" [rowspan]="1">
        <mat-card class="imagecard">
            <mat-card-title>
                <h2>{{'aboutus.team' | translate}}</h2>

            </mat-card-title>
            <mat-card-content>
                <p>{{'aboutus.teamText'| translate }}</p>
                
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="img values" [colspan]="1" [rowspan]="1">
        <mat-card class="imagecard">
            <mat-card-title>
                <h2>{{'aboutus.values' | translate}}</h2>

            </mat-card-title>
            <mat-card-content>
                <p>{{'aboutus.valuesText'| translate }}</p>

            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="contacts" [colspan]="1" [rowspan]="1">
        <mat-card>
            <mat-card-title>
                <h2>{{'aboutus.contacts' | translate}}</h2>
    
            </mat-card-title>
            <mat-card-content>
            <mat-icon class="contactIcon">phone</mat-icon>080-5651234<br><br>
            <mat-icon class="contactIcon">mail</mat-icon>Moovies@gmail.com<br><br>
            <mat-icon class="contactIcon">room</mat-icon>Via Giovanni Porzio, 4, NA<br>
    
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>