.login-container {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  mat-card {
    min-width: 40%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
  }
  mat-form-field {
    width: 100%;
    padding-bottom: 2%;
  }

  @media (min-width: 600px) {
    mat-card {
      width: 400px;
    }
  }

  mat-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  mat-card-title {
    text-align: center;
    font-size: 40px;
    padding-bottom: 10%;
    width: 100%;
  }

  .logo{
    width: 80%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 10%;
  }