<div class="insert-container">
  <mat-card *ngIf="insertForm">
    <mat-card-header>
      <mat-card-title><strong> {{ 'message.insertMovie' | translate }} </strong></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-stepper>
      <form [formGroup]="insertForm" (ngSubmit)="onSubmit()"
        style="display: flex; flex-direction: column; align-items: center;">

          <mat-step [stepControl]="insertForm">

              <ng-template matStepLabel>{{ 'menu.movieGeneralities' | translate }}</ng-template>

              <p></p>

              <div class="row">

                <div class="col">

                  <mat-form-field appearance="fill">

                    <mat-label>{{ 'movie.imdbid' | translate }}</mat-label>

                    <input matInput placeholder="{{ 'movie.imdbid' | translate }}" formControlName="imdbid"
                      type="string" required>

                  </mat-form-field>

                </div>

              </div>

              <!-- ImdbId Errors -->
              <mat-error *ngIf="imdbid?.invalid && (imdbid?.dirty || imdbid?.touched)">

                <div *ngIf="imdbid?.errors?.['required']">
                  {{ 'message.error.isRequired' | translate: { 'obj' : ('movie.imdbid' | translate) } }}
                </div>

                <div *ngIf="imdbid?.errors?.['minlength']">
                  {{ 'message.error.longAtLeast' | translate: {'obj' : ('movie.imdbid' | translate), 'num' : '5'} }}
                </div>

                <div *ngIf="imdbid?.errors?.['pattern']">
                  {{ 'message.error.invalidObj' | translate: { 'obj' : ('movie.imdbid' | translate)} }}
                </div>

              </mat-error>

              <!--Title-->
              <mat-form-field>
                <mat-label>{{ 'movie.title' | translate }}</mat-label>
                <input matInput formControlName="title" placeholder="{{ 'movie.title' | translate }}" type="string"
                  required>
              </mat-form-field>

              <!-- Title Errors -->
              <mat-error *ngIf="title?.invalid && (title?.dirty || title?.touched)">

                <div *ngIf="title?.errors?.['required']">
                  {{ 'message.error.isRequired' | translate: { 'obj' : ('movie.title' | translate) } }}
                </div>

                <div *ngIf="title?.errors?.['minlength']">
                  {{ 'message.error.longAtLeast' | translate: {'obj' : ('movie.title' | translate), 'num' : '3'} }}
                </div>

                <div *ngIf="title?.errors?.['maxlength']">
                  {{ 'message.error.longMax' | translate: {'obj' : ('movie.title' | translate), 'num' : '100'} }}
                </div>

              </mat-error>

              <!-- Year input -->
              <mat-form-field>
                <mat-label> {{ 'movie.year' | translate }} </mat-label>
                <input matInput formControlName="year" placeholder="{{ 'movie.year' | translate }}" type="string"
                  required>
              </mat-form-field>

              <!-- Year Errors -->
              <mat-error *ngIf="year?.invalid && (year?.dirty || year?.touched)">

                <div *ngIf="year?.errors?.['required']">
                  {{ 'message.error.isRequired' | translate: { 'obj' : ('movie.year' | translate) } }}
                </div>

              </mat-error>

              <!-- Genre input -->
              <mat-form-field>
                <mat-label> {{ 'movie.genre' | translate }} </mat-label>
                <input matInput formControlName="genre" placeholder="{{ 'movie.genre' | translate }}" type="genre"
                  required>
              </mat-form-field>

              <!-- Genre Errors -->
              <mat-error *ngIf="genre?.invalid && (genre?.dirty || genre?.touched)">
                <div *ngIf="genre?.errors?.['required']">
                  {{ 'message.error.isRequired' | translate: { 'obj' : ('movie.genre' | translate) } }}
                </div>

                <div *ngIf="genre?.errors?.['minlength']">
                  {{ 'message.error.longAtLeast' | translate: {'obj' : ('movie.genre' | translate), 'num' : '3'} }}
                </div>

                <div *ngIf="genre?.errors?.['maxlength']">
                  {{ 'message.error.longMax' | translate: {'obj' : ('movie.genre' | translate), 'num' : '100'} }}
                </div>
              </mat-error>

              <!-- Plot input -->
              <mat-form-field>
                <mat-label> {{ 'movie.plot' | translate }} </mat-label>
                <textarea matInput formControlName="plot" placeholder="{{ 'movie.plot' | translate }}" type="string" required></textarea>
        </mat-form-field>

        <!-- Plot Errors -->
        <mat-error *ngIf="plot?.invalid && (plot?.dirty || plot?.touched)">

          <div *ngIf="plot?.errors?.['required']">
            {{ 'message.error.isRequired' | translate: { 'obj' : ('movie.plot' | translate) } }}
          </div>

          <div *ngIf="plot?.errors?.['minlength']">
            {{ 'message.error.longAtLeast' | translate: {'obj' : ('movie.plot' | translate), 'num' : '10'} }}
          </div>

          <div *ngIf="plot?.errors?.['maxlength']">
            {{ 'message.error.longMax' | translate: {'obj' : ('movie.plot' | translate), 'num' : '500'} }}
          </div>

        </mat-error>

        <mat-form-field appearance="fill" class="example-form-field">
          <mat-label>{{ 'movie.released' | translate }}</mat-label>
          <input matInput [matDatepicker]="datepickerreleased" formControlName="released" required>
          <mat-datepicker-toggle matIconSuffix [for]="datepickerreleased"></mat-datepicker-toggle>
          <mat-datepicker #datepickerreleased>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>{{ 'button.cancel' | translate }}</button>
              <button mat-raised-button color="primary" matDatepickerApply>{{ 'button.apply' | translate }}</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>

        <!-- Released Errors -->
        <mat-error *ngIf="released?.invalid && (released?.dirty || released?.touched)">

          <div *ngIf="released?.errors?.['required']">
            {{ 'message.error.isRequired' | translate: {'obj' : ('movie.released' | translate)} }}
          </div>

        </mat-error>

        <!-- Runtime input -->
        <mat-form-field>
          <mat-label>{{ 'movie.runtime' | translate }}</mat-label>
          <input matInput formControlName="runtime" placeholder="{{ 'movie.runtime' | translate }}" type="number"
            required>
        </mat-form-field>

        <!-- Runtime Errors -->
        <mat-error *ngIf="runtime?.invalid && (runtime?.dirty || runtime?.touched)">

          <div *ngIf="runtime?.errors?.['required']">
            {{ 'message.error.isRequired' | translate: {'obj' : ('movie.runtime' | translate)} }}
          </div>

        </mat-error>

        <!-- Total Season input -->
        <mat-form-field>
          <mat-label>{{'movie.totalSeasons' | translate }}</mat-label>
          <input matInput formControlName="totalseasons" placeholder="{{'movie.totalSeasons' | translate }}" type="number" min="0" />
        </mat-form-field>

        <!-- Type input -->
        <mat-form-field>
          <mat-label> {{'movie.imdbVotes' | translate }} </mat-label>
          <input matInput formControlName="imdbvotes" placeholder="{{ 'movie.imdbVotes' | translate }}" type="string"
            required>
        </mat-form-field>

        <!-- Type Errors -->
        <mat-error *ngIf="type?.invalid && (type?.dirty || type?.touched)">
          <div *ngIf="type?.errors?.['required']">Type are required.</div>

          <div *ngIf="imdbvotes?.errors?.['required']">
            {{ 'message.error.isRequired' | translate: { 'obj' : ('movie.imdbVotes' | translate) } }}
          </div>

          <div *ngIf="type?.errors?.['minlength']">
            {{ 'message.error.longAtLeast' | translate: {'obj' : ('movie.type' | translate), 'num' : '2'} }}
          </div>

          <div *ngIf="type?.errors?.['maxlength']">
            {{ 'message.error.longMax' | translate: {'obj' : ('movie.type' | translate), 'num' : '10'} }}
          </div>
        </mat-error>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      
    </mat-step>

    <mat-step [stepControl]="insertForm" label="{{ 'menu.productionInfo' | translate }}">
      <p></p>

        <!-- Production input -->
        <mat-form-field>
          <mat-label>{{ 'movie.production' | translate }}</mat-label>
          <input matInput formControlName="language" placeholder="{{ 'movie.production' | translate }}" type="string" required>
        </mat-form-field>

        <!-- Production Errors -->

        <mat-error *ngIf="production?.invalid && (production?.dirty || production?.touched)">
          <div *ngIf="production?.errors?.['required']">
            {{ 'message.error.isRequired' | translate: { 'obj' : ('movie.production' | translate) } }}
          </div>
        
          <div *ngIf="production?.errors?.['minlength']">
            {{ 'message.error.longAtLeast' | translate: {'obj' : ('movie.production' | translate), 'num' : '2'} }}
          </div>
        
          <div *ngIf="production?.errors?.['maxlength']">
            {{ 'message.error.longMax' | translate: {'obj' : ('movie.production' | translate), 'num' : '100'} }}
          </div>
        
        </mat-error>

        <!-- Actors input -->
        <mat-form-field>
          <mat-label>{{ 'movie.actors' | translate }}</mat-label>
          <input matInput formControlName="actors" placeholder="{{ 'movie.actors' | translate }}" type="string"
            required>
        </mat-form-field>

        <!-- Actors Errors -->
        <mat-error *ngIf="actors?.invalid && (actors?.dirty || actors?.touched)">

          <div *ngIf="actors?.errors?.['required']">
            {{ 'message.error.isRequired' | translate: { 'obj' : ('movie.actors' | translate) } }}
          </div>

          <div *ngIf="actors?.errors?.['minlength']">
            {{ 'message.error.longAtLeast' | translate: {'obj' : ('movie.actors' | translate), 'num' : '2'} }}
          </div>

          <div *ngIf="actors?.errors?.['maxlength']">
            {{ 'message.error.longMax' | translate: {'obj' : ('movie.actors' | translate), 'num' : '100'} }}
          </div>

        </mat-error>

        <!-- Director input -->
        <mat-form-field>
          <mat-label> {{ 'movie.director' | translate }} </mat-label>
          <input matInput formControlName="director" placeholder="{{ 'movie.director' | translate }}" type="string"
            required>
        </mat-form-field>

        <!-- Director Errors -->
        <mat-error *ngIf="director?.invalid && (director?.dirty || director?.touched)">

          <div *ngIf="director?.errors?.['required']">
            {{ 'message.error.isRequired' | translate: { 'obj' : ('movie.director' | translate) } }}
          </div>

          <div *ngIf="director?.errors?.['minlength']">
            {{ 'message.error.longAtLeast' | translate: {'obj' : ('movie.director' | translate), 'num' : '3'} }}
          </div>

          <div *ngIf="director?.errors?.['maxlength']">
            {{ 'message.error.longMax' | translate: {'obj' : ('movie.director' | translate), 'num' : '50'} }}
          </div>

        </mat-error>

        <!-- Poster input -->
        <mat-form-field>
          <mat-label> {{ 'movie.poster' | translate }} </mat-label>
          <input matInput formControlName="poster" placeholder="{{ 'movie.poster' | translate }}" type="string"
            required>
        </mat-form-field>

        <!-- Poster Errors -->
        <mat-error *ngIf="poster?.invalid && (poster?.dirty || poster?.touched)">
          <div *ngIf="poster?.errors?.['required']">
            {{ 'message.error.isRequired' | translate: {'obj' : ('movie.poster' | translate)} }}
          </div>

          <div *ngIf="poster?.errors?.['minlength']">
            {{ 'message.error.longAtLeast' | translate: {'obj' : ('movie.poster' | translate), 'num' : '2'} }}
          </div>

          <div *ngIf="poster?.errors?.['maxlength']">
            {{ 'message.error.longMax' | translate: {'obj' : ('movie.poster' | translate), 'num' : '200'} }}
          </div>

          <div *ngIf="poster?.errors?.['pattern']">
            {{ 'message.error.invalidUrl' | translate }}
          </div>
        </mat-error>

        <!-- Country input -->
        <mat-form-field>
          <mat-label> {{ 'movie.country' | translate }} </mat-label>
          <input matInput formControlName="country" placeholder="{{ 'movie.country' | translate }}" type="string"
            required>
        </mat-form-field>

        <!-- Country Errors -->
        <mat-error *ngIf="country?.invalid && (country?.dirty || country?.touched)">

          <div *ngIf="country?.errors?.['required']">
            {{ 'message.error.isRequired' | translate: { 'obj' : ('movie.country' | translate) } }}
          </div>

          <div *ngIf="country?.errors?.['minlength']">
            {{ 'message.error.longAtLeast' | translate: {'obj' : ('movie.country' | translate), 'num' : '2'} }}
          </div>

          <div *ngIf="country?.errors?.['maxlength']">
            {{ 'message.error.longMax' | translate: {'obj' : ('movie.country' | translate), 'num' : '100'} }}
          </div>

        </mat-error>

        <!-- DVD input -->
        <mat-form-field appearance="fill" class="example-form-field">
          <mat-label> {{ 'movie.dvd' | translate }} </mat-label>
          <input matInput [matDatepicker]="datepicker" formControlName="dvd" required>
          <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>{{ 'button.cancel' | translate }}</button>
              <button mat-raised-button color="primary" matDatepickerApply>
                {{ 'button.apply' | translate }}
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>

        <!-- DVD Errors -->
        <mat-error *ngIf="dvd?.invalid && (dvd?.dirty || dvd?.touched)">

          <div *ngIf="dvd?.errors?.['required']">
            {{ 'message.error.isRequired' | translate: { 'obj' : ('movie.dvd' | translate) } }}
          </div>
        </mat-error>

        <!-- Writer input -->
        <mat-form-field>
          <mat-label>{{ 'movie.response' | translate }}</mat-label>
          <input matInput formControlName="response" placeholder="{{ 'movie.response' | translate }}" type="boolean"
            required>
        </mat-form-field>

        <!-- Writer Errors -->
        <mat-error>
          <div *ngIf="writer?.errors?.['required']">
            {{ 'message.error.isRequired' | translate: {'obj' : ('movie.writer' | translate)} }}
          </div>
        </mat-error>

        <mat-error>
          <div *ngIf="writer?.errors?.['minlength']">
            {{ 'message.error.longAtLeast' | translate: {'obj' : ('movie.writer' | translate), 'num' : '2'} }}
          </div>
        </mat-error>

        <mat-error>
          <div *ngIf="writer?.errors?.['maxlength']">
            {{ 'message.error.longMax' | translate: {'obj' : ('movie.writer' | translate), 'num' : '400'} }}
          </div>
        </mat-error>

        <!-- Language input -->
        <mat-form-field>
          <mat-label>{{ 'movie.totalSeasons' | translate }}</mat-label>
          <input matInput formControlName="totalseasons" placeholder="{{ 'movie.totalSeasons' | translate }}"
            type="number" min="0">
        </mat-form-field>

        <!-- Language Errors -->
        <mat-error *ngIf="language?.invalid && (language?.dirty || language?.touched)">

          <div *ngIf="language?.errors?.['required']">
            {{ 'message.error.isRequired' | translate: { 'obj' : ('movie.language' | translate) } }}
          </div>

          <div *ngIf="language?.errors?.['minlength']">
            {{ 'message.error.longAtLeast' | translate: {'obj' : ('movie.language' | translate), 'num' : '3'} }}
          </div>

          <div *ngIf="language?.errors?.['maxlength']">
            {{ 'message.error.longMax' | translate: {'obj' : ('movie.language' | translate), 'num' : '50'} }}
          </div>
        </mat-error>
      <div>
        <button mat-button matStepperPrevious>{{ 'button.back' | translate }}</button>
        <button mat-button matStepperNext>{{ 'button.next' | translate }}</button>
      </div>
  </mat-step>

  <mat-step [stepControl]="insertForm" label="{{ 'menu.otherInfo' | translate }}">
    <p></p>

      <!-- Website input -->
      <mat-form-field>
        <mat-label>{{ 'movie.website' | translate }}</mat-label>
        <input matInput formControlName="website" placeholder="{{ 'movie.website' | translate }}" type="string"
          required>
      </mat-form-field>

      <!-- WebSite Errors -->
      <mat-error *ngIf="website?.invalid && (website?.dirty || website?.touched)">
        <div *ngIf="website?.errors?.['required']">
          {{ 'message.error.isRequired' | translate: {'obj' : ('movie.website' | translate)} }}
        </div>

        <div *ngIf="website?.errors?.['minlength']">
          {{ 'message.error.longAtLeast' | translate: {'obj' : ('movie.website' | translate), 'num' : '2'} }}
        </div>

        <div *ngIf="website?.errors?.['maxlength']">
          {{ 'message.error.longMax' | translate: {'obj' : ('movie.website' | translate), 'num' : '50'} }}
        </div>

        <div *ngIf="website?.errors?.['pattern']">
          {{ 'message.error.invalidUrl' | translate }}
        </div>
      </mat-error>

        <!-- Awards input -->
        <mat-form-field>
          <mat-label>{{ 'movie.awards' | translate }}</mat-label>
          <input matInput formControlName="awards" placeholder="{{ 'movie.awards' | translate }}" type="string"
            required>
        </mat-form-field>

        <!-- Awards Errors -->
        <mat-error *ngIf="awards?.invalid && (awards?.dirty || awards?.touched)">

          <div *ngIf="awards?.errors?.['required']">
            {{ 'message.error.isRequired' | translate: { 'obj' : ('movie.awards' | translate) } }}
          </div>

          <div *ngIf="awards?.errors?.['minlength']">
            {{ 'message.error.longAtLeast' | translate: {'obj' : ('movie.awards' | translate), 'num' : '2'} }}
          </div>

          <div *ngIf="awards?.errors?.['maxlength']">
            {{ 'message.error.longMax' | translate: {'obj' : ('movie.awards' | translate), 'num' : '100'} }}
          </div>

        </mat-error>

        <!-- IMDB-Rating input -->
        <mat-form-field>
          <mat-label>{{ 'movie.writer' | translate }}</mat-label>
          <input matInput formControlName="writer" placeholder="{{ 'movie.writer' | translate }}" type="string" required>
        </mat-form-field>
        
        <!-- IMDB-Rating Errors -->
        <mat-error *ngIf="imdbrating?.invalid && (imdbrating?.dirty || imdbrating?.touched)">
        
          <div *ngIf="imdbrating?.errors?.['required']">
            {{ 'message.error.isRequired' | translate: { 'obj' : ('movie.imdbRating' | translate) } }}
          </div>
        </mat-error>

        <!-- IMDB-Votes input -->
        <mat-form-field>
          <mat-label>{{ 'movie.imdbVotes' | translate }}</mat-label>
          <input matInput formControlName="imdbvotes" placeholder="{{ 'movie.imdbVotes' | translate }}" type="string" required />
        </mat-form-field>
        
        <!-- IMDB-Votes Errors -->
        <mat-error *ngIf="imdbvotes?.invalid && (imdbvotes?.dirty || imdbvotes?.touched)">
          <div *ngIf="imdbvotes?.errors?.['required']">
            {{ 'message.error.isRequired' | translate: { 'obj' : ('movie.imdbVotes' | translate) } }}
          </div>
        </mat-error>

        <!-- MetaScore input -->
        <mat-form-field>
          <mat-label>{{ 'movie.metascore' | translate }}</mat-label>
          <input matInput formControlName="metascore" placeholder="{{ 'movie.metascore' | translate }}" type="string" required />
        </mat-form-field>

        <!-- MetaScore Errors -->
        <mat-error *ngIf="metascore?.valid && (metascore?.dirty || metascore?.touched)">
          <div *ngIf="metascore?.errors?.['required']">
            {{ 'message.error.isRequired' | translate: { 'obj' : ('movie.metascore' | translate) } }}
          </div>
        </mat-error>

        <!-- Rated input -->
        <mat-form-field>
          <mat-label>{{ 'movie.rated' | translate }}</mat-label>
          <input matInput formControlName="rated" placeholder="{{ 'movie.rated' | translate }}" type="string"
            required>
        </mat-form-field>

        <!-- Rated Errors -->
        <mat-error *ngIf="rated?.invalid && (rated?.dirty || rated?.touched)">

          <div *ngIf="rated?.errors?.['required']">
            {{ 'message.error.isRequired' | translate: {'obj' : ('movie.rated' | translate)} }}
          </div>
        </mat-error>

        <!-- BoxOffice input -->
        <mat-form-field>
          <mat-label> {{ 'movie.boxoffice' | translate }} </mat-label>
          <input matInput formControlName="boxoffice" placeholder="{{ 'movie.boxoffice' | translate }}" type="string"
            required>
        </mat-form-field>

        <!-- BoxOffice Errors -->
        <mat-error *ngIf="boxoffice?.invalid && (boxoffice?.dirty || boxoffice?.touched)">
          <div *ngIf="boxoffice?.errors?.['required']">
            {{ 'message.error.isRequired' | translate: { 'obj' : ('movie.boxoffice' | translate) } }}
          </div>
        </mat-error>

        <!-- Response input -->
        <mat-form-field>
          <mat-label>{{ 'movie.response' | translate }}</mat-label>
          <input matInput formControlName="response" placeholder="{{ 'movie.response' | translate }}" type="boolean" required />
        </mat-form-field>

        <!-- Response Errors -->
        <mat-error *ngIf="response?.invalid && (response?.dirty || response?.touched)">
          <div *ngIf="response?.errors?.['required']">
            {{ 'message.error.isRequired' | translate: {'obj' : ('movie.response' | translate)} }}
          </div>
        </mat-error>
        <div>

          <button mat-button matStepperPrevious>{{ 'button.back' | translate }}</button>
          <button mat-raised-button color="primary" type="submit" [disabled]="insertForm.invalid">{{ 'button.insert' | translate }}</button>

        </div>

    </mat-step>
</form>
</mat-stepper>

</mat-card-content>

</mat-card>

</div>