   .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .mat-column-id{
    width: 10%;
  }

  .mat-column-name{
    width: 20%;
  }

  .mat-column-surname{
    width: 20%;
  }

  .mat-column-role{
    width: 10%;
  }

  .mat-column-disabledAt{
    width: 100%;
  }

  .select{
    width: 70%;
    height: 20%;
    margin-top: 8%;
  }

  .pageButton{
    text-align: center;
  }
  
  .table{
    margin-top: 0;
  }

  .upperRow{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15%;
  }

  @media (max-width: 1100px){
    .upperRow{
      margin-right: 5%;
    }
  }