<div class="upperRow">
    <button mat-icon-button (click)="exportToPDF()">
        <mat-icon>picture_as_pdf</mat-icon>
    </button>
    <button mat-icon-button (click)="exportToCSV()">
        <mat-icon>download</mat-icon>
    </button>
</div>
<div *ngIf="dataSource" class="table">
        <div>
        <table mat-table [dataSource]="dataSource">
        
            <!-- ID Column -->
            <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> {{ 'user.id' | translate }} </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> {{ 'user.name' | translate }} </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>
        
            <!-- Surname Column -->
            <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef> {{ 'user.surname' | translate }} </th>
            <td mat-cell *matCellDef="let row"> {{row.surname}} </td>
            </ng-container>
        
            <!-- Email Column -->
            <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> {{ 'user.email' | translate }} </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
            </ng-container>
    
            <!-- Role Column -->
            <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> {{ 'user.role' | translate }} </th>
            <td mat-cell *matCellDef="let row">
                <span *ngIf="row.role.role == 'super_admin'"> {{row.role.role}}</span>
                <mat-form-field *ngIf="row.role.role != 'super_admin'" class="select">
                    <mat-label> {{row.role.role}} </mat-label>
                    <mat-select>
                        <mat-option (click)="changeRole(row, 1)">Admin</mat-option>
                        <mat-option (click)="changeRole(row, 2)">Public</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            </ng-container>
    
            <!-- disabledAt Column -->
            <ng-container matColumnDef="disabledAt">
            <th mat-header-cell *matHeaderCellDef> {{ 'user.disabledAt' | translate }} </th>
            <td mat-cell *matCellDef="let row">
                <input *ngIf="row.role.role != 'super_admin'" type="checkbox" [checked]="row.disabledAt" (change)="disableUser(row)">
                {{row.disabledAt}}
            </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>

<section class="pageButton">
    <mat-button-toggle-group value="current" style="margin: 3%;">
        <mat-button-toggle value="more-next" *ngIf="page-1<=0" disabled="true">«</mat-button-toggle>
        <mat-button-toggle value="more-next" *ngIf="page-1>0" (click)="changePage(page-1)">«</mat-button-toggle>
        <mat-button-toggle value="more-previous" *ngIf="page-2>0" (click)="changePage(page-2)">{{page-2}}</mat-button-toggle>
        <mat-button-toggle value="previous" *ngIf="page-1>0" (click)="changePage(page-1)">{{page-1}}</mat-button-toggle>
    
        <mat-button-toggle value="current" disabled="true">{{page}}</mat-button-toggle>
    
        <mat-button-toggle value="next" *ngIf="page+1<=maxPage" (click)="changePage(page+1)">{{page+1}}</mat-button-toggle>
        <mat-button-toggle value="more-next" *ngIf="page+2<=maxPage" (click)="changePage(page+2)">{{page+2}}</mat-button-toggle>
        <mat-button-toggle value="more-next" *ngIf="page+1<=maxPage" (click)="changePage(page+1)">»</mat-button-toggle>
        <mat-button-toggle value="more-next" *ngIf="page+1>maxPage" disabled="true">»</mat-button-toggle>
    </mat-button-toggle-group>
</section>
  