
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$movie-catalog-fe-primary: mat.define-palette(mat.$gray-palette, 800);
$movie-catalog-fe-accent: mat.define-palette(mat.$amber-palette, 800);

// The warn palette is optional (defaults to red).
$movie-catalog-fe-warn: mat.define-palette(mat.$red-palette, A700);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$movie-catalog-fe-theme: mat.define-light-theme((
  color: (
    primary: $movie-catalog-fe-primary,
    accent: $movie-catalog-fe-accent,
    warn: $movie-catalog-fe-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($movie-catalog-fe-theme);



