/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  background-color: whitesmoke;
}

body {
  margin: 0;
  // font-family: 'Work Sans', sans-serif;
  font-family: 'Actor', sans-serif;
}

.table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 1%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  overflow-x: auto;
}

@media (max-width: 1100px) {
  .table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 1%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow-x: auto;
  }
}

.mat-mdc-standard-chip {
  --mdc-chip-elevated-container-color: white;
  --mdc-chip-elevated-disabled-container-color: #e0e0e0;
  --mdc-chip-label-text-color: #212121;
  --mdc-chip-disabled-label-text-color: #212121;
  --mdc-chip-with-icon-icon-color: #212121;
  --mdc-chip-with-icon-disabled-icon-color: #212121;
  --mdc-chip-with-trailing-icon-disabled-trailing-icon-color: #212121;
  --mdc-chip-with-trailing-icon-trailing-icon-color: #212121;
  --mdc-chip-with-icon-selected-icon-color: #212121;
}

mat-chip-option {
  transition: 500ms;
}

mat-chip-option:hover {
  transform: scale(1.1);
}
@import '/src/custom-theme.scss';
$bg : $movie-catalog-fe-theme;
.back{
  text-align: center;
  width: 30px;
  float: left;
  padding: 15px 10px;
  margin: 15px 0 0 15px;
  border-radius: 5px;
  transition: 0.2s;
}
.back:hover{
  background: rgba(map-get($bg,primary,500), 0.5);
}
.slider {
  max-width: 95%;
  margin: 3%;
}

.card {
  display: inline-flex;
  width: fit-content;
  min-width: 200px;
  height: fit-content;
  margin: 3%;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.486);
  transition: 500ms;
}

.card:hover {
  cursor: pointer;
}

.card-grid {
  text-align: center;
  width: 90%;
  margin: 5%;
  margin-bottom: 5%;
}

.card-poster {
  aspect-ratio: 5 / 8;
}

//snackbar styles

:root {
  --success-color: #198754;
  --delete-color: #dc3545;
  --background-color: white;
  --accent-color: #FFAB00;
  --primary-color: #616161;
}

.success-snackbar {
  color: white !important;
  --mdc-snackbar-container-color: var(--success-color);

  .mat-mdc-snack-bar-action {
    color: white !important;
  }
}

.error-snackbar {
  max-width: max-content !important;
  color: white;
  --mdc-snackbar-container-color: var(--delete-color);

  .mat-mdc-snack-bar-action {
    color: white !important;
  }
}
