
.navbar{
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
}


  .sidenav{
    z-index: 2;
    background: none ;
    position: fixed;
    top: 70px;
    transition: 0.7s ease;
  }
  .hide{
    transform: translateX(-300px) skewX(-60deg);
  }
