<div class="user-container">
    <mat-card *ngIf="userForm">
      <mat-icon (click)="goBack()" class="back">keyboard_arrow_left</mat-icon>

        <!-- <mat-card-header>
            <mat-card-title><strong> {{ 'menu.userDetails' | translate }} </strong></mat-card-title>
        </mat-card-header> -->

        <mat-card-content>

            <mat-grid-list [cols]="gridCols" rowHeight="3:1">
                <div *ngIf="user" class="user-avatar">
                    <div class="user-icon">
                        {{ user.name.charAt(0) }} {{ user.surname.charAt(0) }}
                    </div>
                </div>
                <br>
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column; align-items: center;">



                    <mat-grid-tile [colspan]="1" [rowspan]="1">

                        <!-- Name input -->
                        <mat-form-field>
                            <mat-label>{{ 'user.name' | translate }}</mat-label>
                            <input matInput formControlName="name" placeholder="{{ 'user.name' | translate }}" type="string" required>
                        </mat-form-field>

                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="1">

                        <!-- Surname input -->
                        <mat-form-field>
                            <mat-label>{{ 'user.surname' | translate }}</mat-label>
                            <input matInput formControlName="surname" placeholder="{{ 'user.surname' | translate }}" type="string" required>
                        </mat-form-field>

                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="colSpan" [rowspan]="1">

                        <!-- CF input -->
                        <mat-form-field>
                            <mat-label>{{ 'user.cf' | translate }}</mat-label>
                            <input matInput formControlName="cf" placeholder="{{ 'user.cf' | translate }}" type="string" required readonly="true">
                        </mat-form-field>

                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="1">

                        <!-- Email input -->
                        <mat-form-field>
                            <mat-label>{{ 'user.email' | translate }}</mat-label>
                            <input matInput formControlName="email" placeholder="{{ 'user.email' | translate }}" type="email" required readonly="true">
                        </mat-form-field>

                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">

                        <!-- Birthdate input -->
                        <mat-form-field appearance="fill" class="example-form-field">
                            <mat-label>{{ 'user.birthdate' | translate }}</mat-label>
                            <input matInput [matDatepicker]="datepicker" formControlName="birthdate" required>
                            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker>
                            <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>{{ 'menu.cancel' | translate }}</button>
                                <button mat-raised-button color="primary" matDatepickerApply>{{ 'menu.apply' | translate }}</button>
                            </mat-datepicker-actions>
                            </mat-datepicker>
                        </mat-form-field>

                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="colSpan" [rowspan]="1">
                        <!-- Button -->
                        <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid" style="width: 100%; margin-bottom: 5%; font-size: large;">{{ 'menu.update' | translate }}</button>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="colSpan" [rowspan]="1" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
                        <!-- Name Errors -->
                        <mat-error *ngIf="name?.invalid && (name?.dirty || name?.touched)">

                            <div *ngIf="name?.errors?.['required']">
                                {{ 'message.error.isRequired' | translate:  {'obj' : ('user.name' | translate)}  }}
                            </div>

                            <div *ngIf="name?.errors?.['minlength']">
                                {{ 'message.error.longAtLeast' | translate: {'obj' :  ('user.nome' | translate), 'num' : '3'} }}
                            </div>

                        </mat-error>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="colSpan" [rowspan]="1" *ngIf="surname?.invalid && (surname?.dirty || surname?.touched)">

                        <!-- Surname Errors -->
                        <mat-error *ngIf="surname?.invalid && (surname?.dirty || surname?.touched)">

                            <div *ngIf="surname?.errors?.['required']">
                                {{ 'message.error.isRequired' | translate:  {'obj' : ('user.surname' | translate)}  }}
                            </div>

                            <div *ngIf="surname?.errors?.['minlength']">
                                {{ 'message.error.longAtLeast' | translate: {'obj' :  ('user.nome' | translate), 'num' : '3'} }}
                            </div>

                        </mat-error>

                        <mat-grid-tile [colspan]="colSpan" [rowspan]="1" *ngIf="cf?.invalid && (cf?.dirty || cf?.touched)">

                            <!-- Fiscal Code Errors -->
                            <mat-error *ngIf="cf?.invalid && (cf?.dirty || cf?.touched)">
                                <div *ngIf="cf?.errors?.['required']">
                                    {{ 'message.error.isRequired' | translate:  {'obj' : ('user.cf' | translate)}  }}
                                </div>

                                <div *ngIf="cf?.errors?.['minlength']">
                                    {{ 'message.error.longNum' | translate: {'obj' :  ('user.cf' | translate), 'num' : '16'} }}
                                </div>

                            </mat-error>

                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="colSpan" [rowspan]="1"  *ngIf="birthdate?.invalid && (birthdate?.dirty || birthdate?.touched)">

                            <!-- Birthdate Errors -->
                            <mat-error *ngIf="birthdate?.invalid && (birthdate?.dirty || birthdate?.touched)">
                                {{ 'message.error.isRequired' | translate:  {'obj' : ('user.birthdate' | translate)}  }}
                          </mat-error>

                      </mat-grid-tile>

                      <mat-grid-tile [colspan]="colSpan" [rowspan]="1" *ngIf="invalidAge">

                          <mat-error *ngIf="invalidAge">
                            {{ 'message.error.invalidAge' | translate }}
                          </mat-error>

                      </mat-grid-tile>

                      <mat-grid-tile [colspan]="colSpan" [rowspan]="1" *ngIf="invalidInput">
                          <mat-error *ngIf="invalidInput">
                            {{ 'message.error.invalidInput' | translate }}
                          </mat-error>
                      </mat-grid-tile>

                  </mat-grid-tile>
              </form>

          </mat-grid-list>

      </mat-card-content>
  </mat-card>
</div>

