<div class="user-container">
    <mat-card *ngIf="userForm">
      <button (click)="goBack()" type="button" mat-raised-button color="primary"  class="back">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
        <mat-card-header>
            <mat-card-title><strong> User Details! </strong></mat-card-title>
          </mat-card-header>
      <mat-card-content>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column; align-items: center;">

                <!-- Name input -->
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" placeholder="Name" type="string" required>
                </mat-form-field>

                <!-- Surname input -->
                <mat-form-field>
                    <mat-label>Surname</mat-label>
                    <input matInput formControlName="surname" placeholder="Surname" type="string" required>
                </mat-form-field>

                <!-- CF input -->
                <mat-form-field>
                    <mat-label>Fiscal Code</mat-label>
                    <input matInput formControlName="cf" placeholder="Codice Fiscale" type="string" required readonly="true">
                </mat-form-field>

                <!-- Email input -->
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Email" type="email" required readonly="true">
                </mat-form-field>

                <!-- Birthdate input -->
                <mat-form-field appearance="fill" class="example-form-field">
                    <mat-label>Birthdate</mat-label>
                    <input matInput [matDatepicker]="datepicker" formControlName="birthdate" required>
                    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                      <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                      </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>

                <!-- Role input -->
                <mat-form-field>
                    <mat-label>Role</mat-label>
                    <input matInput formControlName="role" placeholder="Role" type="string" required readonly="true">
                </mat-form-field>

                <!-- Button -->
                <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid" style="width: 100%; margin-bottom: 5%; font-size: large;">Update</button>

                <!-- Name Errors -->
                <mat-error *ngIf="name?.invalid && (name?.dirty || name?.touched)">

                    <div *ngIf="name?.errors?.['required']">
                        Nome is required.
                    </div>

                    <div *ngIf="name?.errors?.['minlength']">
                        Nome must be at least 3 characters long.
                    </div>

                </mat-error>

                <!-- Surname Errors -->
                <mat-error *ngIf="surname?.invalid && (surname?.dirty || surname?.touched)">

                    <div *ngIf="surname?.errors?.['required']">
                        Surname is required.
                    </div>

                    <div *ngIf="surname?.errors?.['minlength']">
                        Surname must be at least 3 characters long.
                    </div>

                </mat-error>

                <!-- Fiscal Code Errors -->
                <mat-error *ngIf="cf?.invalid && (cf?.dirty || cf?.touched)">
                    <div *ngIf="cf?.errors?.['required']">
                        Fiscal Code is required.
                    </div>

                    <div *ngIf="cf?.errors?.['minlength']">
                        Fiscal code must be 16 characters long.
                    </div>

                </mat-error>

                <!-- Birthdate Errors -->
                <mat-error *ngIf="birthdate?.invalid && (birthdate?.dirty || birthdate?.touched)">
                    Birthdate is required.
                </mat-error>

                <mat-error *ngIf="invalidAge">
                    Invalid Age.
                </mat-error>

                <mat-error *ngIf="invalidInput">
                    Invalid Input.
                </mat-error>

            </form>
      </mat-card-content>
    </mat-card>
</div>
